<!--Left Column-->
<div class="col-md-2 sidebar">
    <p>Rooms</p>
    <ul class="nav nav-sidebar half-height">
        <li class="active">
            <a href="#">
                <img src="images/public_room.png"/>
                Room 1
                <img src="images/quit_room_small.png" class="pull-right"/>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/private_room.png"/>
                Room 2 private
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/public_room.png"/>
                Room 3
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/public_room.png"/>
                Room 4
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/public_room.png"/>
                Room 5
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/public_room.png"/>
                Room 6
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/public_room.png"/>
                Room 7
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/public_room.png"/>
                Room 8
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/public_room.png"/>
                Room 9

            </a>
        </li>

    </ul>
    <hr/>
    <p>Private chats</p>
    <ul class="nav nav-sidebar half-height">
        <li>
            <a href="#">
                <img src="images/conversation.png"/>
                John DOE
            </a>
        </li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
    </ul>
</div>

<!--Central Section-->
<div class="col-md-8 col-md-offset-2 chat-zone">
    <div class="row chat-room-banner-height">
        <div class="chat-room-banner bg-primary">
            <p>Games</p>
        </div>
    </div>
    <div class="row chat-room-messages-height">
        <div class="chat-room-messages">
            <ul class="list-group">
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 1</li>
                <li class="list-group-item">Message chat 11</li>
            </ul>
        </div>
    </div>
    <div class="row chat-room-separator-height"></div>
    <div class="row chat-room-input-message well well-lg">
        <!--<form class="form-inline" role="form">-->
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="New message"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">:D</button>
                                    </span>
            </div>
        </div>
        <!--</form>-->
    </div>
</div>

<!--Right Column-->
<div class="col-md-2 sidebar col-md-offset-10">
    <p>Participants</p>
    <hr/>
    <ul class="nav nav-sidebar full-height">
        <li><a href="#">John DOE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
        <li><a href="#">Helen SUE</a></li>
    </ul>
</div>
