<div class="row chat-room-banner-height">
    <div class="row chat-room-banner bg-primary">
        <div class="col-md-1 chat-room-banner-icon">
            <i class="fa fa-users fa-3x"></i>
        </div>
        <div class="col-md-11">
            <div class="row chat-room-banner-name">
                <span>{{currentRoom.roomName}}</span>
            </div>
            <div class="row chat-room-banner-creator">
                <span><em><small>{{currentRoom.banner}}</small></em></span>
            </div>
        </div>
    </div>
</div>
<div class="row chat-room-messages-height">
    <chat-scroll-on messages="messages" current-room="currentRoom" display-general-error="displayGeneralError"></chat-scroll-on>
</div>
<div class="row chat-room-separator-height"></div>
<div class="row chat-room-input-message well well-lg">
    <div class="col-md-12">
        <div class="input-group">
            <input type="text" class="form-control" name="new_message" placeholder="New message" ng-model="newMessage.content" ng-enter="postMessage()"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="postMessage()">:D</button>
            </span>
        </div>
    </div>
</div>