<div class="jumbotron">
    <h1>Welcome to KillrChat</h1>
    <p>
        You can join an existing chat room (displayed on the left)
        <br/>
        Above <strong>My rooms</strong> you can
        <ul>
            <li>
                search for a room by clicking on &nbsp;<i class="fa fa-list-alt fa-lg"></i>&nbsp;
            </li>
            <li>
                or create a new room by clicking on &nbsp;<i class="fa fa-plus-square fa-lg"></i>&nbsp;
            </li>
            <li>
                or return to this page by clicking on &nbsp;<i class="fa fa-home fa-lg"></i>&nbsp;
            </li>
        </ul>
    </p>
</div>