<div class="col-md-2 sidebar" xmlns="http://www.w3.org/1999/html">
    <p>
        <i class="clickable fa fa-home fa-lg" ng-click="home()"></i>
        <i class="clickable fa fa-list-alt fa-lg" ng-click="allRooms()"></i>
        <i class="clickable fa fa-plus-square fa-lg" ng-click="newRoom()"></i>
    </p>
    <p>My rooms</p>
    <hr/>
    <ul class="nav nav-sidebar full-height">
        <li ng-repeat="room in userRooms">
            <a>
                <i class="fa fa-comments fa-lg pull-left"></i>
                <span class="clickable" ng-click="switchRoom(room.roomName)">&nbsp;&nbsp;{{room.roomName}}</span>
                <i class="clickable fa fa-sign-out fa-lg pull-right exit-room" ng-click="quitRoom(room)"></i>
            </a>
        </li>
    </ul>
</div>